.divContainer{
    background:linear-gradient(180deg, rgb(222, 198, 141), rgb(242, 226, 197));
    width: max-content;
    padding: 20px;
    margin: 10px auto;
    border-radius: 10px;
    min-height: 300px;
}
.title{
    font-size: 20px;
    margin-top: 0px;
    color:  rgb(52, 49, 45);
    letter-spacing: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    padding-bottom: 15px;
    padding-top: 10px;
}